# Compiled class file
*.out
*.class

# Log files
*.log
out.*

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar # Don't ignore the maven wrapper jar (if used)

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
.apt_generated/
.factorypath
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Operating System Files
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
Desktop.ini # Windows